body {
    padding: 50px 100px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.box {
    display: grid;
    grid-template-columns: [one] 400px [two] 400px [three] 400px [item4];
    grid-template-rows: 100px 200px 150px;
    gap: 20px;
}

.item {
    border: 1px solid black;
    background-color: #57a152;
    color: #fff;
    padding: 15px;
}

.item-1 {
    /* grid-column-start: 2;
    grid-column-end: 4; */
    grid-column: 1/-1;
    /* grid-row-start: 1;
    grid-row-end: 3; */
    grid-row: 1/3;
}